/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.content-flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.text-flexbox {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.header-display {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0;
}
.container {
  width: 800px;
  margin: 40px auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}
.container header {
  width: 100%;
  padding: 40px 0;
}
.container header nav {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container header nav a {
  color: DarkOliveGreen;
  text-decoration: none;
}
.container .main {
  width: 100%;
}
.container .main .top-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .container .main .top-content {
    flex-direction: column;
    align-items: center;
    width: 100%
				margin: 0 auto;
  }
}
.container .main .top-content .bio-image {
  width: 45%;
  margin: auto;
}
@media (max-width: 500px) {
  .container .main .top-content .bio-image {
    width: 100%;
  }
}
.container .main .top-content .bio-image img {
  width: 100%;
}
.container .main .top-content .text-content {
  width: 45%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
@media (max-width: 500px) {
  .container .main .top-content .text-content {
    width: 100%;
  }
}
.container .main .top-content .text-content h1 {
  font-size: 3rem;
  margin: 15px 20px 15px 0;
  color: Chocolate;
}
.container .main .top-content .text-content p {
  color: DimGray;
}
.container .main .bottom-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .container .main .bottom-content {
    flex-direction: column;
    align-items: center;
    width: 100%
				margin: 0 auto;
  }
}
.container .main .bottom-content .text-content {
  width: 45%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
@media (max-width: 500px) {
  .container .main .bottom-content .text-content {
    width: 100%;
  }
}
.container .main .bottom-content .text-content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0;
  color: DarkOliveGreen;
}
.container .main .bottom-content .text-content p {
  color: DimGray;
}
.container .main .bottom-content .list {
  width: 45%;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .container .main .bottom-content .list {
    width: 100%;
  }
}
.container .main .bottom-content .list h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0;
  color: DarkOliveGreen;
}
.container .main .bottom-content .list ul {
  color: DimGray;
  list-style-type: circle;
  list-style-position: inside;
}
.container footer {
  width: 100%;
}
.container footer .contact {
  color: DarkOliveGreen;
  padding: 40px 0;
}
.container footer .contact h4 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 0;
}
.container footer .contact p {
  margin: 5px 0;
}
